---
import AboutCard from "../components/AboutCard.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <section class="card-section">
      <div class="card-container">
        <AboutCard
        title={"競技プログラミング"}
        logo={"/public/favicon.svg"}
        link={"a"}
        />
        <AboutCard
        title={"競技プログラミング"}
        logo={"/public/favicon.svg"}
        link={"a"}
        />
        <AboutCard
        title={"競技プログラミング"}
        logo={"/public/favicon.svg"}
        link={"a"}
        />
        <AboutCard
        title={"競技プログラミング"}
        logo={"/public/favicon.svg"}
        link={"a"}
      />
      <AboutCard
      title={"競技プログラミング"}
      logo={"/public/favicon.svg"}
      link={"a"}
      />
      <AboutCard
      title={"競技プログラミング"}
      logo={"/public/favicon.svg"}
      link={"a"}
      />
    </div>
    </section>
    <style>
      .card-section{
        display: flex;
        justify-content: center;
        background-color: #f1f1f1;

      }
      .card-container {
        width: 80em;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
    </style>
    <Footer />
  </body>
</html>
