---
import "@fontsource/noto-sans-jp";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import type { Work } from "../types/global";
import WorkItem from "../components/workItem/WorkItem";

const apiUrl = "https://prm2ykvwe8.microcms.io/api/v1/works";
const baseHeaders = {
  headers: { "X-MICROCMS-API-KEY": "e5286cb7434f40bcbaca4b625c68f8a974a4" },
};
const response = await fetch(apiUrl, baseHeaders);
const works = await response.json().then((data) => data.works);
---

<style>
  section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }
</style>

<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

<body>
  <Header title={SITE_TITLE} />
  <main>
    <section>
      {
        works.map((work: Work) => {
          return <WorkItem work={work} />;
        })
      }
    </section>

    <Footer />
  </main>
</body>
