---
import Link from "./Link.astro";
const today = new Date();

---

<footer class="footer">
  <div class="footer__inner">
    <h2 class="footer__ttl">PLOT</h2>
    <div class="footer__flex ">
      <Link href="/" class="footer__link-color">Home</Link>
      <Link href="/about" class="footer__link-color">About</Link>  
    </div>
    <div class="footer__flex">
      <a href="https://twitter.com/plot_niigata" class="footer__link"><img src="/public/icon-twitter.svg" alt=""></a>
      <a href="https://github.com/plot-niigata" class="footer__link"><img src="/public/icon-github.svg" alt=""></a>
    </div>
    <!-- /.footer__flex -->
    <p class="footer__copyright">Copyright &copy; {today.getFullYear()} PLOT</p>
  </div>
  <!-- /.footer__inner -->

</footer>
<style>
  .footer {
    background-color: #000;
  }

  .footer__inner {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 15px;
  }

  .footer__ttl {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    margin: 0;
  }

  .footer__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }

  .footer__flex > a{ 
    margin: 0 10px;
  }

  .footer__link {
    width: 32px;
    height: 32px;
  
  }

  .footer__link-color {
    color: white;
  }

  .footer__link:not(:first-child) {
    margin-left: 43px;
  }

  .footer__copyright {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    /* margin-top: 60px; */
  }
  
</style>