---
import Link from "./Link.astro";
import { SITE_TITLE } from "../config";
---

<header>
  <h2>
    {SITE_TITLE}
  </h2>
  <nav>
    <Link href="/">Home</Link>
    <Link href="/about">About</Link>
    <Link href="https://twitter.com/astrodotbuild" target="_blank">Twitter</Link
    >
    <Link href="https://github.com/withastro/astro" target="_blank">GitHub</Link
    >
  </nav>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
